@hover-border: 1px solid #5fa5ef;
@hover-shadow: 1px 1px 1px 0px #528ece;

@background-color: #f2f2f2;

@border: 1px solid #d6d6d6;
@shadow: 1px 1px 1px 0px #b2b2b2;

.standard-font() {
	font-family: Helvetica, Arial, sans-serif;
	color: #4f4f4f;
	font-color: #4f4f4f;
}